name: dependency-updater

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

jobs:
  update-latest-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.1
      - name: Update Dependencies File
        run: go run ./hack/dependencies.go update
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@284f54f989303d2699d373481a0cfa13ad5a6666
        with:
          token: ${{ secrets.CARVEL_BOT_ACCESS_TOKEN }}
          committer: Carvel Bot <svc.bot.carvel@vmware.com>
          author: Carvel Bot <svc.bot.carvel@vmware.com>
          commit-message: | 
            Bump dependencies
            
            Signed-off-by: Carvel Bot <svc.bot.carvel@vmware.com>
          title: Bump dependencies
          delete-branch: true
          body: |
            Auto-generated by https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}

            Signed-off-by: Carvel Bot <svc.bot.carvel@vmware.com>
          base: develop
          branch: bump-dependencies
