name: golangci-lint

on:
  push:
    branches:
      - develop
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.1
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: '0'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.6.0
        with:
          version: v1.52.2
          args: -v
