name: reviewdog
on: [pull_request]
jobs:
  misspell:
    name: runner / misspell
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v3.5.2
      - name: misspell
        uses: reviewdog/action-misspell@ccb0441a34ac2a3ece1206c63d7b6dd757ffde4d # v1.1.0
        with:
          fail_on_error: true
          locale: "US"
          exclude: |
            ./vendor/*
            ./cli/vendor/*
            *generated*
            ./examples/cert-manager-tce-pkg/bundle/*
