name: reviewdog
on: [pull_request]
jobs:
  misspell:
    name: runner / misspell
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v3.0.2
      - name: misspell
        uses: reviewdog/action-misspell@811b1e15f531430be3a5784e3d591bd657df18b0 # v1.1.0
        with:
          fail_on_error: true
          locale: "US"
          exclude: |
            ./vendor/*
            ./cli/vendor/*
            *generated*
            ./examples/cert-manager-tce-pkg/bundle/*
