name: test-kctrl-gh
"on":
  push:
    branches:
      - develop
    paths-ignore:
    - 'docs/**'
    - '*.md'
  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
    - 'docs/**'
    - '*.md'

jobs:
  test-all:
    name: Test GH
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: "1.17"
    - name: Check out code
      uses: actions/checkout@v3.0.1
      with:
        fetch-depth: 0
    - name: Install Carvel Tools
      uses: vmware-tanzu/carvel-setup-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        only: ytt, kapp, kbld, vendir
        ytt: v0.38.0
        kapp: v0.42.0
        kbld: v0.31.0
        vendir: v0.23.0
    - name: Run Tests
      run: |
        set -e -x

        mkdir /tmp/bin
        export PATH=/tmp/bin:$PATH

        # Need to install protoc to run generators used in ./hack/verify-no-dirty-files.sh
        curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v3.15.8/protoc-3.15.8-linux-x86_64.zip
        echo "b9ff821d2a4f9e9943dc2a13e6a76d99c7472dac46ddd3718a3a4c3b877c044a  protoc-3.15.8-linux-x86_64.zip" | sha256sum -c -
        unzip protoc-3.15.8-linux-x86_64.zip -d /tmp

        ./hack/verify-no-dirty-files.sh

        curl -sLo /tmp/bin/minikube https://github.com/kubernetes/minikube/releases/latest/download/minikube-linux-amd64
        chmod +x /tmp/bin/minikube
        minikube start --driver=docker
        eval $(minikube docker-env --shell=bash)

        export KAPPCTRL_E2E_SECRETGEN_CONTROLLER=true
        ./hack/deploy-test.sh

        export KCTRL_E2E_NAMESPACE=kctrl-test
        kubectl create ns $KCTRL_E2E_NAMESPACE

        cd cli
        ./hack/test-all.sh
