name: test-kctrl-gh
"on":
  push:
    branches:
      - develop
    paths-ignore:
    - 'docs/**'
    - '*.md'
  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
    - 'docs/**'
    - '*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-all:
    name: Test kctrl GH
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v4
      with:
        go-version: 1.21.1
    - name: Check out code
      uses: actions/checkout@v4.1.1
      with:
        fetch-depth: 0
    - name: Install Carvel Tools
      uses: carvel-dev/setup-action@v1
      with:
        only: ytt, kbld, imgpkg, vendir, kapp
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Run Tests
      run: |
        set -e -x

        mkdir /tmp/bin
        export PATH=/tmp/bin:$PATH

        # Need to install protoc to run generators used in ./hack/verify-no-dirty-files.sh
        curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v3.15.8/protoc-3.15.8-linux-x86_64.zip
        echo "b9ff821d2a4f9e9943dc2a13e6a76d99c7472dac46ddd3718a3a4c3b877c044a  protoc-3.15.8-linux-x86_64.zip" | sha256sum -c -
        unzip protoc-3.15.8-linux-x86_64.zip -d /tmp

        ./hack/verify-no-dirty-files.sh

        docker run -d -p 5000:5000 --restart=always --name registry registry:2

        minikube start --driver=docker
        eval $(minikube docker-env --shell=bash)

        ./hack/deploy-test.sh

        export KCTRL_E2E_NAMESPACE=kctrl-test
        export KCTRL_E2E_IMAGE="`ifconfig | grep inet | grep -E '\b10\.' | awk '{ print $2}'`:5000/test-repo/testimage-$GITHUB_RUN_ID"
        kubectl create ns $KCTRL_E2E_NAMESPACE

        cd cli
        ./hack/test-all.sh
