name: test-gh
"on":
  push:
    branches:
      - develop
    paths-ignore:
    - 'docs/**'
    - '*.md'
  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
    - 'docs/**'
    - '*.md'

jobs:
  test-all:
    name: Test GH
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: 1.20.7
    - name: Check out code
      uses: actions/checkout@v3.0.2
      with:
          fetch-depth: 0
    - name: Install Carvel Tools
      run: ./hack/install-deps.sh
    - name: Run Tests
      run: |
        set -e -x
        mkdir /tmp/bin
        export PATH=/tmp/bin:$PATH

        # Need to install protoc to run generators used in ./hack/verify-no-dirty-files.sh
        curl -sLO https://github.com/protocolbuffers/protobuf/releases/download/v3.15.8/protoc-3.15.8-linux-x86_64.zip
        echo "b9ff821d2a4f9e9943dc2a13e6a76d99c7472dac46ddd3718a3a4c3b877c044a  protoc-3.15.8-linux-x86_64.zip" | sha256sum -c -
        unzip protoc-3.15.8-linux-x86_64.zip -d /tmp

        ./hack/verify-no-dirty-files.sh

        minikube start --driver=docker --kubernetes-version="1.20.15"
        eval $(minikube docker-env --shell=bash)

        export KAPPCTRL_E2E_SECRETGEN_CONTROLLER=true
        ./hack/deploy-test.sh

        export KAPPCTRL_E2E_NAMESPACE=kappctrl-test
        kubectl create ns $KAPPCTRL_E2E_NAMESPACE

        ./hack/test-all.sh
