name: Trivy CVE Dependency Scanner

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  scan-latest-release:
    runs-on: ubuntu-latest
    steps:
      - name: Get Latest Release Docker Image Sha
        id: latest-sha
        run: |
          # Get the latest released docker image sha
          curl -sL https://api.github.com/repos/vmware-tanzu/carvel-kapp-controller/releases/latest | jq -r '.assets[].browser_download_url' | wget -i -

          echo ::set-output name=image::$(yq eval '.spec.template.spec.containers[0].image' release.yml -N -j | jq 'select(. != null)' -r)
          echo ::set-output name=tag::$(curl -sL https://api.github.com/repos/vmware-tanzu/carvel-kapp-controller/releases/latest | jq -r '.tag_name')
      - name: Install Trivy
        run: |
          brew install aquasecurity/trivy/trivy
      - name: Run Trivy
        run: |
          trivy image ${{ steps.latest-sha.outputs.image }}
          trivy image --format json --output trivy-results-image-latest.json ${{ steps.latest-sha.outputs.image }}
      - name: Check for new Vulnerabilities
        run: |
          set -eo pipefail

          summary="Trivy scan has found new vulnerabilities in ${{steps.latest-sha.outputs.tag}} check https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}"

          vulnCount=$(jq '[ .Results[].Vulnerabilities ] | length' trivy-results-image-latest.json)
          if [[ $vulnCount -eq 0 ]]; then
            summary="Trivy Scan has not found any new Security Issues in ${{steps.latest-sha.outputs.tag}}"
          fi

          echo "SUMMARY=$summary" >> "$GITHUB_ENV"
      - name: Send Slack Notification
        if: success()
        uses: slackapi/slack-github-action@v1.15.0
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        with:
          channel-id: C02MTA7F2G1
          slack-message: "${{ env.SUMMARY }}"
      - name: Send Failure notification
        if: failure()
        uses: slackapi/slack-github-action@v1.15.0
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        with:
          channel-id: G01FTP43JMQ
          slack-message: "Trivy scan workflow [${{steps.latest-sha.outputs.tag}}] failed. Please check the latest github action run for trivy scanner."
  scan-develop-branch:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go 1.x
        uses: actions/setup-go@v1
        with:
          go-version: "1.17"
      - name: Build the kapp-controller artifacts
        run: |
          ./hack/install-deps.sh
          ./hack/build.sh

          # docker image
          docker build -t docker.io/carvel/kapp-controller:${{ github.sha }} .
      - name: Install Trivy
        run: |
          brew install aquasecurity/trivy/trivy

          # download the sarif format template
          git clone --depth 1 -b "v0.22.0" https://github.com/aquasecurity/trivy
      - name: Run Trivy Reports
        run: |
          export TRIVY_IGNORE_UNFIXED=true
          export TRIVY_SEVERITY="MEDIUM,HIGH,CRITICAL"
          export TRIVY_TEMPLATE="@trivy/contrib/sarif.tpl"

          # kapp-controller binary - output in sarif and json
          trivy rootfs --format template --output trivy-results-binary.sarif "controller"
          trivy rootfs --format json --output trivy-results-binary.json "controller"

          # kapp-controller docker image - output in sarif and json
          trivy image --format template --output trivy-results-image.sarif "docker.io/carvel/kapp-controller:${{ github.sha }}"
          trivy image --format json --output trivy-results-image.json "docker.io/carvel/kapp-controller:${{ github.sha }}"
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: '.'
      - name: Check for new Vulnerabilities
        run: |
          set -eo pipefail

          summary="Trivy scan has found new vulnerabilities - check https://github.com/vmware-tanzu/carvel-kapp-controller/security/code-scanning for more"

          vulnCountBinary=$(jq '[ .Results[].Vulnerabilities ] | length' trivy-results-binary.json)
          vulnCountImage=$(jq '[ .Results[].Vulnerabilities ] | length' trivy-results-image.json)
          if [ $vulnCountImage -eq 0 && $vulnCountBinary -eq 0 ]; then
            summary="Trivy Scan has not found any new Security Issues"
          fi

          echo "SUMMARY=$summary" >> "$GITHUB_ENV"
      - name: Send Slack Notification
        if: success()
        uses: slackapi/slack-github-action@v1.15.0
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        with:
          channel-id: G01FTP43JMQ
          slack-message: "${{ env.SUMMARY }}"
      - name: Send Failure notification
        if: failure()
        uses: slackapi/slack-github-action@v1.15.0
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        with:
          channel-id: G01FTP43JMQ
          slack-message: "Trivy scan workflow failed. Please check the latest github action run for trivy scanner."
