name: upgrade-testing
"on":
  push:
    branches:
      - develop
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - 'cli/**'
  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - 'cli/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-all:
    name: Upgrade Testing
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.1
      - name: Check out code
        uses: actions/checkout@v4.1.1
      - name: Install Carvel Tools
        run: ./hack/install-deps.sh
      - name: Run Upgrade Test
        run: |
          set -e -x

          minikube start --driver=docker
          eval $(minikube docker-env --shell=bash)

          kapp deploy -a kc -f https://github.com/carvel-dev/kapp-controller/releases/latest/download/release.yml -y

          ./hack/deploy.sh
